.container{
    width: 100%;
    height: 100vh;
    display: grid;
    /* first row is 38px, rest is the free space that we have */
    grid-template-rows: 38px minmax(0, 1fr);
}

.main{
    /* background: green; */
    display: grid;
    grid-template-columns: 260px auto;
}
